*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("background.webp");
    background-size: cover; /* Scales the image to cover the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh; /* Ensures full-page height */
    margin: 0; /* Removes default margin */
}
.container{
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5rem;
    /* background-attachment:fixed;
    background-position-x: center; */
}


h4{
    font-size: 3vh;
    font-style: italic;
    color: red;
}
p{
    /* font-size: 4vh; */
    color: white;
    padding: 20vh;
}

#yadee{
    /* height: 8vh;
    width: 20vh;
    font-size: 3vh; */
    border-radius: 10%;
    color: brown;
    background-color: aqua;
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
#special{
    /* height: 8vh;
    width: 20vh;
    font-size: 3vh; */
    border-radius: 10%;
    color: brown;
    background-color: aqua;
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
