* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    background-repeat: inherit;
    /* background-image: url("back.jpg");
    background-size: cover; /* Scales the image to cover the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh; /* Ensures full-page height */
    margin: 0; */
}

.front {
    background-color: yellow;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 3rem;
}

#para{
    size: 10vh;
}


#btn {
    background-color: pink;
    /* flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 10vh;
    width: 20vh;
    font-size: 3vh;
    border-radius: 50%;
    border: none;
}